<mat-sidenav-container class="layout-container">
  
    <mat-sidenav mode="side" opened class="sidenav" [ngClass]="isExpanded ? 'expanded' : 'collapsed'">
      
      <div class="sidenav-header" [ngClass]="isExpanded ? 'header-expanded' : 'header-collapsed'">
        <span class="logo-text" *ngIf="isExpanded">Service Experience</span>
        
        <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
          <mat-icon>{{ isExpanded ? 'chevron_left' : 'menu' }}</mat-icon>
        </button>
      </div>
  
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" [matTooltip]="!isExpanded ? 'Dashboard' : ''" matTooltipPosition="right">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle *ngIf="isExpanded">Dashboard</span>
        </a>

        <a mat-list-item routerLink="/users" routerLinkActive="active-link" [matTooltip]="!isExpanded ? 'Usuários' : ''" matTooltipPosition="right">
            <mat-icon matListItemIcon>people</mat-icon>
            <span matListItemTitle *ngIf="isExpanded">Usuários</span>
        </a>

        <a mat-list-item routerLink="/azure-personal-tokens" routerLinkActive="active-link" [matTooltip]="!isExpanded ? 'Token Azure' : ''" matTooltipPosition="right">
            <mat-icon matListItemIcon>vpn_key</mat-icon> <span matListItemTitle *ngIf="isExpanded">Token Azure</span>
        </a>  

        <a mat-list-item routerLink="/parameters" routerLinkActive="active-link" [matTooltip]="!isExpanded ? 'Parâmetros' : ''" matTooltipPosition="right">
            <mat-icon matListItemIcon>settings</mat-icon>
            <span matListItemTitle *ngIf="isExpanded">Parâmetros</span>
        </a>
        
        <a mat-list-item routerLink="/logs" routerLinkActive="active-link" [matTooltip]="!isExpanded ? 'Logs' : ''" matTooltipPosition="right">
            <mat-icon matListItemIcon>list_alt</mat-icon>
            <span matListItemTitle *ngIf="isExpanded">Logs</span>
          </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content [ngClass]="isExpanded ? 'content-expanded' : 'content-collapsed'">
      
      <mat-toolbar color="primary" class="top-toolbar">
        <span>Painel de Integração</span>
  
        <span class="spacer"></span>
  
        <button mat-icon-button aria-label="Perfil do usuário">
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>
  
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
  
    </mat-sidenav-content>
  </mat-sidenav-container>